* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.cp60 {
    padding: 60px 0px;
}

:root {
    --cs-primary: #135414;
    --cs-bg: #d1eac8;
    --cs-text: #1e1e1e;
    --cs-light: #7eb027;
    --cs-white: #fff;
}

h1 {
    font-size: 70px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--cs-primary);
    /* letter-spacing: 8px; */
}

h2 {
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: var(--cs-primary);
    text-transform: capitalize;
}

p {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--cs-text);
}

/* header */
.header {
    /* border-bottom: 1px solid var(--cs-bg); */
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    background-color: var(--cs-white);
    box-shadow: 0px 0px 20px 20px #0000000a;
    z-index: 100;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--cs-text);
}

.navbar-nav .nav-link:hover {
    color: var(--cs-primary);
}

.navbar-nav .nav-item.active .nav-link {
    color: var(--cs-primary);
    font-weight: 500;
}

/* banner */
.hero .row {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero {
    /* background: url(../images/bgpt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center; */
    background-color: var(--cs-bg);
    position: relative;
}

.custom-shape-divider-bottom-1707214183 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1707214183 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 166px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707214183 .shape-fill {
    fill: #FFFFFF;
}

/* .custom-shape-divider-bottom-1707214665 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1707214665 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 138px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707214665 .shape-fill {
    fill: #FFFFFF;
} */

.hero_content {
    text-align: center;
}

.hero_content h2 {
    margin: 10px 0px;
}


.hero_text {
    padding-left: 50px;
}

.btn-cstm {
    background-color: var(--cs-primary);
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid transparent;
    color: var(--cs-white);
}

.btn-cstm:hover {
    border: 2px solid var(--cs-primary);
}

/* about starts */
.about {
    background: url(../images/bgpt2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.about .row {
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.about_content h3 {
    color: var(--cs-primary);
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.about_title {
    padding: 20px 0px;
}

.about_title h2 {
    font-weight: 700;
    color: var(--cs-light);
    text-align: center;
}

.hl {
    color: var(--cs-primary);
}

.about_content p {
    width: 60%;
    margin: auto;
    text-align: center;
}

/* contact */
.contact {
    background: url(../images/bgpt2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info {
    display: flex;
    align-items: center;
    background-color: var(--cs-bg);
    padding: 30px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: .2s all ease-in-out, .2s all ease-in-out;
    margin-top: 20px;
}

.info:hover {
    border: 2px solid var(--cs-primary);
    background-color: transparent;
    transform: scale(1.02);
}

.info:hover a {
    padding-left: 20px;
    color: var(--cs-light);
}

.info img {
    width: 80px;
    object-fit: cover;
}

.info_box {
    padding: 20px;
}

.info_box h3 {
    padding: 0 !important;
    color: var(--cs-text);
}

.info_box a {
    color: var(--cs-primary);
    font-weight: 500;
    transition: .2s all ease-in-out, .2s all ease-in-out;

}

.social_icon {
    margin-top: 30px;
}

.social_icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--cs-bg);
    border-radius: 15px;
    margin: 10px;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.social_icon ul li:hover {
    transform: scale(1.1);
    background-color: var(--cs-bg);
}

.social_icon ul li:hover i {
    color: var(--cs-white);
}

.social_icon ul li a {}

.social_icon ul li a i {
    font-size: 30px;
    color: var(--cs-light);
}

/* footer */
.footer {
    padding: 15px 0px;
    text-align: center;
    border-top: 1px solid var(--cs-bg);
}

.cc p {
    font-size: 14px;
}

/* back to top */

.backtotop {
    background-color: var(--cs-primary);
}

.btn-top {
    background-color: var(--cs-primary);
    border: 1px solid transparent;
}

.btn-top:hover {
    border: 1px solid var(--cs-primary);
}

.btn-top:hover i {
    color: var(--cs-primary);
}

.btn-top i {
    color: var(--cs-bg);
}

/* scroll snap */

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}